<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-title class="custom-title">Feed de Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <ion-refresher slot="fixed" (ionRefresh)="efeitoRefresh($event)" class="custom-refresher">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true" class="custom-fab">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="sair()">
        <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card *ngFor="let filme of lista_filmes" class="custom-card">
    <ion-img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path"></ion-img>
    <ion-card-header>
      <ion-card-title>{{filme.title}}</ion-card-title>
      <ion-card-subtitle>{{filme.release_date}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{filme.overview}}</ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="efeitoScrollInfinito($event)" class="custom-infinite-scroll">
    <ion-infinite-scroll-content loadingText="Carregando..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>